<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default `en` }}" itemscope itemtype="http://schema.org/WebPage" data-theme="dark">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    {{- block "title" . -}}
    {{ if .IsPage }}
    {{ .Title }} - {{ .Site.Title }}
    {{ else }}
    {{ .Site.Title }}
    {{ end }}
    {{- end -}}
  </title>
  {{ partial "head.html" . }}
</head>

<body>
  <div id="back-to-top"></div>

  <header class="site-header">
    {{ partial "desktop_header.html" . }}
    {{ partial "mobile_header.html" . }}
  </header>

  <main id="main" class="main pico container">
    {{ block "main" . }}{{ end }}
  </main>

  <footer id="footer" class="site-footer">
    {{ partial "footer.html" . }}
  </footer>

</body>

</html>