{{ define "main" -}}
  <div class="content-wrapper">
    <aside class="left-sidebar">
      {{- $hasTOC := gt (len .TableOfContents) 32 -}}
      {{ if $hasTOC -}}
        <nav class="toc" id="toc">
          <div class="toc-title">Table of Contents</div>
          <div class="toc-content custom-scrollbar">
            {{ .TableOfContents }}
          </div>
        </nav>
      {{- end }}
    </aside>
    <div id="content" class="content">
      <article class="post">
        <!-- Content -->
        <div class="post-content">
          {{ .Content }}
        </div>
      </article>
    </div>
    <aside class="right-sidebar">
    </aside>
  </div>
{{- end }}