<div class="desktop-header">
  <div class="desktop-header-logo">
    <a href="{{ `/`}}" class="logo">
      {{ .Site.Title }}
    </a>
  </div>

  <nav class="desktop-navbar">
    <ul id="menu" class="menu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="menu-item{{ if $currentPage.IsMenuCurrent `main` . }} active{{end}}">
        <a class="menu-item-link" href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>
