<footer class="main-footer">
    <div class="footer-content">
        <div class="copyright">
            © {{ now.Format "2006" }} {{ .Site.Params.author | default "Manikandaraj Srinivasan" }}. All rights reserved.
        </div>
        <div class="legal-links">
            <a href="/privacy/" class="legal-link">Privacy Policy</a>
            <a href="/license/" class="legal-link">Content License</a>
            <a href="/terms/" class="legal-link">Terms of Service</a>
        </div>
    </div>
</footer>